.imagediv {
    width: 150px;
    height: 180px;
    position: absolute;
    overflow: hidden;
    /* background-colora;addd*/
}

.imagediv img {
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}